services:
  localstack:
    image: localstack/localstack
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3,dynamodb
      - DEBUG=1
      - AWS_DEFAULT_REGION=eu-south-2
    volumes:
      - "./.localstack:/var/lib/localstack"

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "3001:3001"
    env_file:
      - ./backend/.env
    environment:
      - DYNAMODB_ENDPOINT=http://localstack:4566
      - S3_ENDPOINT=http://localstack:4566
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_REGION=eu-south-2
      - IS_OFFLINE=true
      - S3_BUCKET=invox-medical-backend-audios-dev
      - DYNAMO_TABLE=invox-medical-backend-transcriptions-dev
    depends_on:
      - localstack
    volumes:
      - ./backend:/app/backend
      - ./shared:/app/shared
      - /app/backend/node_modules

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "3000:3000"
    environment:
      - API_URL=http://localhost:3001
      - COGNITO_ENDPOINT=http://localhost:4566
    depends_on:
      - backend
    volumes:
      - ./frontend:/app/frontend
      - ./shared:/app/shared
      - /app/frontend/node_modules
      - /app/frontend/.nuxt
